/*reset*/
body,h1,h2,h3,h4,h5,h6,figure{
	margin:0;
	padding:0;
	font-size: 1em;
}

ol, ul, li, dl, dt ,dd{
	margin:0;
	padding:0;
	list-style: none;
}

p{
	margin: 0 0 1em 0;
}

a{
	text-decoration: none;
	color:inherit;
}

a:hover{
	text-decoration: underline;
	color:inherit;
}


/*font*/
body{
	font-size: 16px;
	font-family: "맑은 고딕", "Apple SD Gothic Neo", "돋움", "굴림", "helvetica nueue", helvetica, arial, san-serif;
	background: #e5e6e6;
	background-size: 100% 100%;
	color: #313534;
}

/*common styles*/
.wrap{
	width: 100%;
	max-width:1000px;
	min-width: 640px;
	margin:0 auto;
}
.wrap350{
	width: 100%;
	max-width:1000px;
	min-width: 350px;
	margin:0 auto;
}

/*header*/
#main-header{
	 overflow:hidden;
/* 	background:transparent; */
	  line-height: 1.2em;
	  vertical-align: center;	
	  position:fixed;
	  z-index:9999;
	  width: 350px;
	  padding: 0px;
	  border-left: 1px solid transparent;
	  border-right: 1px solid transparent;	
	

	#main-title{
		float:left;
		font-size: 2em;
	}

	#user-information{
/*
		float:left;
		margin-left: 1em;
		margin-top: 0.7em;
		overflow:hidden;
		line-height: 1em;
		width:180px;
		padding: 1.3em 0 0.3em;
		border-left: solid 1px #ddd;
*/
		  float: right;
		  overflow: hidden;
		  line-height: 1em;
		  width: 97px;
		  border-left: solid 1px #ddd;
		  padding: 10px;
		  height: 83px;
		.avatar{
			  border-radius: 50%;
			  overflow: hidden;
			  width: 32px;
			  height: 32px;
			  float: left;
			  margin: 0.4em 2.4em 0;
			
			.default {
			    background: url(/img/avatar.png) no-repeat;
			    background-size: 163px;
			    width: 32px;
				height: 32px;
			}

			.img0 {background-position: -5px -4px}
			.img1 {background-position: -45px -7px}
			.img2 {background-position: -86px -4px}
			.img3 {background-position: -125px -4px}
			.img4 {background-position: -5px -45px}
			.img5 {background-position: -46px -47px}
			.img6 {background-position: -86px -45px}
			.img7 {background-position: -125px -47px}
			.img8 {background-position: -5px -84px}
			.img9 {background-position: -49px -85px}
			.img10 {background-position: -86px -84px}
			.img11 {background-position: -130px -88px}
			.img12 {background-position: -5px -124px}
			.img13 {background-position: -45px -124px}

		}

		figcaption{
			 overflow: hidden;
			 padding-top: 10px;
			 padding-left: 2%;
			 text-align: center;
			.email{
				font-size: .6em;
			}	
		}
	}

	#main-navigation{
		float:right;
		overflow:hidden;

		ul{
			overflow:hidden;

			li{
				display:inline;
				margin-left: 1em;
			}
		}
	}
}
/*add may31 for signup page*/
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.txtRight {
	text-align: right;
}
.text-light {
  font-weight: 300;
}
a:link {
    text-decoration: none;
}
input {
	padding-left: 8px;
}

/*add june1 for user part*/
.mainCard {
  position: relative;
  margin-bottom: 24px;
  background-color: #ffffff;
  color: #313534;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.logoImg {
  padding: 12px 25px;
  width: 80px;	
} 
.ulMenu{ 
  margin: 20px 0 10px;
  float: left;
  font-family: 'Montserrat',sans-serif;
  font-size: 97%;
  color: #5E5D5D;
}

.ulMenu li {
  margin-bottom: 3px;
}

.ulMenu li:hover {
  background-color: #e6e6e6;
  border-color: #c5c9c8;
  color: #5e5d5d;
  cursor:default 
}