<link rel="stylesheet" href="<%- cssDir %>/roadmap.css" />
<div class="input-container">
	<ul class="sortableContainer">
		<li class="sortable" ng-repeat="quest in quests" repeat-func="makeItSortable">
			<span style="display:inline-block;width:25px;">{{quest.qId}}</span> <!-- for debugging -->
			<span style="display:inline-block;width:20px;">{{quest.order}}</span> <!-- for debugging -->
			<span>{{quest.contents}}</span>
			<span>{{quest.due}}</span>
			<button class="delete" name="delete" ng-click="deleteQuest(quest)">X</button>
		</li>
	</ul>
	<form ng-submit="addQuest()">
		<span>마지막 {{lastOrder}}번째</span>
		<span>순서 {{newQuest.order}}번째</span><br />
		<label>내용</label> <input ng-model="newQuest.contents" name="contents" type="text">
		<label>마감</label> <input ng-model="newQuest.due" name="due" type="text" value="2011-05-25 04:52:23"><br />
		<label>위치</label> 
		<input ng-model="newQuest.posX" name="posX" type="number">
		<input ng-model="newQuest.posY" name="posY" type="number">
		<input ng-model="newQuest.order" name="order" type="number" style="display:none;" ng-value="$scope.lastId">
		<input type="submit">
	</form>
</div>
<div class="field">
	<ul class="quests">
		<li class="quest" ng-repeat="(index, quest) in quests" style="position:absolute; top:{{quest.posY}}px; left:{{quest.posX}}px;">
			{{quest.contents}}
		</li>
	</ul>
	<svg height="100%" width="100%">
	  <line ng-show="quests[index+1]" ng-repeat="(index, quest) in quests" x1="{{quest.posX+50}}" y1="{{quest.posY+30}}" x2="{{quests[index+1].posX+50}}" y2="{{quests[index+1].posY+30}}" style="stroke:rgb(0,0,0);stroke-width:5" />
	</svg>
</div>