<link rel="stylesheet" href="<%- cssDir %>/roadmap.css" />
<div class="input-container">
	<ul class="sortableContainer">
		<li class="sortable" ng-repeat="quest in quests" repeat-func="makeItSortable">
			<span style="display:inline-block;width:25px;">{{quest.qId}}</span> <!-- for debugging -->
			<span style="display:inline-block;width:20px;">{{quest.order}}</span> <!-- for debugging -->
			<span>{{quest.contents}}</span>
			<span>{{quest.due}}</span>
			<button name="delete">X</button>
		</li>
	</ul>
	<form ng-submit="addQuest()">
		<label>내용</label> <input ng-model="newQuest.contents" name="contents" type="text">
		<label>마감</label> <input ng-model="newQuest.due" name="due" type="text" value="2011-05-25 04:52:23"><br />
		<label>위치</label> 
		<input ng-model="newQuest.posX" name="posX" type="number">
		<input ng-model="newQuest.posY" name="posY" type="number">
		<input ng-model="newQuest.order" name="order" type="number" style="display:none;" ng-value="$scope.lastId">
		<input type="submit">
	</form>
</div>
<div class="field">
	<ul class="quests">
		<li class="quest" ng-repeat="(index, quest) in quests" style="bottom:{{quest.posX}}px; left:{{quest.posY}}px; left:50%">
			{{quest.contents}} : {{quest.posX}} , {{quest.posY}}<br>
			{{quests[index+1].contents}} : {{quests[index+1].posX}} , {{quests[index+1].posY}}
			<svg>
		</li>
	</ul>
	<svg height="100%" width="100%">
	  <line x1="0" y1="0" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" />
	</svg>
</div>